body {
  text-align: center;
  margin: 0;
  font-size: small;
  color: #40514e;
}
h1 {
  color: #05dfd7;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Niconne", cursive;
}
h2 {
  color: #05dfd7;
  font-family: "Noto Serif", serif;
}
h3 {
  color: #05dfd7;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 1.4em;
}
#id1 {
  color: #05dfd7;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 16px;
  font-size: 2em;
}
hr {
  border-color: #4b6964;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 3%;
  margin : 50px auto 50px auto;
}
.Top-container {
  background-color: #eeecda;
  padding-top: 140px;
}
.middle-container {
}
.bottom-container {
  background-color: #eeecda;
  padding: 30px 0px 20px;
}
.Bottom-cloud {
  position: absolute;
  padding-top: 20px;
  width: 17%;
  right: 0px;
  left: 20%;
}
.mount{
  padding-top: 50px;
  width: 39.4%;
}
.Top-cloud {
  position: absolute;
  width: 17%;
  right: 20%;
  top: 0px;
  padding-top: 60px;
}
.intro{
    width: 40%;
    margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.Program-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.skill-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}
.boy {
  width: 15%;
}
.profile{
    margin-top: 75px;
}
.btn {
	background:linear-gradient(to bottom, #7892c2 5%, #6b96a3 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #649db8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 31px;
  text-decoration:none;
  margin: 30px auto 30px auto;
}
.btn:hover {
	background:linear-gradient(to bottom, #6b96a3 5%, #7892c2 100%);
	background-color:#6b96a3;
}
.btn:active {
	position:relative;
	top:1px;
}
a{
  color: #05dfd7;
  margin : 20px 30px;
  text-decoration: none;
}
a:hover{
  color: #70e665;
}
.copy-right{
  color: #05dfd7;
  font-size: 1em;
}  
